<div class="partial">
    <a href="/">Home</a>


    {{#files}}
        {{#if current}}
            <a href="/projects/{{ name }}/description"><p class="current">  {{name}} </p></a>
        {{ else }}
            <a href="/projects/{{ name }}/description"><p>  {{name}} </p></a>
        {{/if}}
    {{/files}}
</div>



<!-- remove current class here, it makes no sense -->
<!-- add a object to name that checks if it is  class="current" -->
