<div class="partial">
    <a href="/">Home</a>

    {{#files}}
        {{#if current}}
            <a href="/projects/{{ name }}/description"><p class="current">  {{name}} </p></a>
        {{ else }}
            <a href="/projects/{{ name }}/description"><p>  {{name}} </p></a>
        {{/if}}
    {{/files}}
</div>

<!-- how can i add projectName? -->
<!-- text transform capitalize. -->
